:root {
  --primary-color:#2d3748;
  --secondary-color:#718096;
  --tertiary-color:#5a67d8;
  --heading-font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  color: var(--primary-color);
  margin: 0;
  font-size: 30px;
  line-height: 45px;
}

p {
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin: 0 12px;
}
a:hover {
  color: var(--tertiary-color);
}

.avatar {
  padding: 30px 0;
}

.avatar img {
  margin-top: 20px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
  border-radius: 50%;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.border-t-4 {
  border-top: 4px solid var(--tertiary-color);
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media(min-width:672px) {
  .max-width-2xl {
    max-width: 42rem;
    margin: auto;
  }
}